
body {
    font-family: Arial, sans-serif;
    background-color: #463d3d; 
}

li {
    background-color: #e2e2e2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.highlight {
    background-color: #0bffff; 
}